/* STANDARD COLORS */

$primaryFont: 'Helvetica', 'Sans-Serif';
$primaryFontColor: #555;

$lightBlue: #39f;
$darkBlue: #33f;

$lightRose: #EB7FA3;
$darkRose: #B85878;

$lightGreen: #8AE3B5;
$darkGreen: #5AA67E;

$ocean: #baddff;
$land: #ebded4;
$gray: #ccc;
$label: #9e906f;
$freeway: #f9a542;

/*******
MAP STYLES
*******/

body { padding: 10px;}
#chart-area {background-color:$ocean;}
.badge {
    border: 1px solid transparent;
    cursor: pointer;
}
/* mobile */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .navbar-brand {
        font-size: 1.1em;
    }

    label.badge {
        min-width: 30px;
        padding: 8px;
        font-size: 1em;
        margin: 1.5px;
    }
}

@media screen 
  and (min-device-width: 960px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #chart-area {
        max-width:960px;
    }

    label.badge {
        min-width: 30px;
        padding: 5px;
        font-weight: 300;
        margin-bottom: 3px;
    }
}


.notification {padding-top:10px}

.ocean {fill: $ocean}
.land {fill: $land;}

.neighborhood {
    fill: $land;
}

.neighborhood-label {
    text-anchor: middle;
    font-size: 0.7em;
    font-family: sans-serif;
    fill: $label;
    opacity: 0.8;
}

.artery-path {
    fill: $gray;
    stroke: #fff;
    stroke-width: 1.2px;
}

.street-path {
    fill: none;
    stroke: $gray;
    stroke-width: 0.2px;
}

.freeway-path {
    stroke: $freeway;
    fill: none;
    stroke-width: 1px;
}

.route-path {
    fill: none;
    stroke-width: 0.2em;
    stroke-linejoin: round;
}

.circle-bus {
    stroke-width: 0.8px;
    opacity: 0.9;
    cursor: pointer;
}

.circle-busstop {
    stroke-width: 1px;
    opacity: 1;
}

.route label input {
    display: none;
}

.badge-true {
    background-color: white !important;
    color:black; 
    border: 1px solid;
}


div.tooltip {   
    position: absolute;     
    opacity: 0;    
    text-align: left;         
    min-width: 120px;
    min-height: 40px;                   
    padding: 5px;               
    font: 11px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;     

    &.bus {
        background: yellow; 
    }
      
}

/*************************************************
MAP VIEW
*************************************************/


path {
    stroke: steelblue;
    stroke-width: 0.3;
    fill: none;
}

svg text {
    font-family: $primaryFont;
    color: $primaryFontColor;
}

.svg-container {
    display: block;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    background-color: $ocean;
}

.svg-content-responsive {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
}

#map-text {
    margin-top: 20px;
}

.form-inline {
    margin-bottom: 20px;
}

#popup-title {
    font-style: italic;
    font-weight: 200;
    font-family: $primaryFont;
}

#lesser-title {
    font-size: 17px;
    font-weight: 600;
}

#sub-title {
    font-style: italic;
}
