


/* STANDARD COLORS */

$primaryFont: 'Helvetica', 'Sans-Serif';
$primaryFontColor: #555;

$lightBlue: #39f;
$darkBlue: #33f;

$lightRose: #EB7FA3;
$darkRose: #B85878;

$lightGreen: #8AE3B5;
$darkGreen: #5AA67E;

$ocean: #baddff;
$land: #ebded4;
$gray: #ccc;
$label: #9e906f;
$freeway: #f9a542;

/*******
MAP STYLES
*******/

.ocean {fill: $ocean}
.land {fill: $land;}

.neighborhood {
    fill: $land;
}

.neighborhood-label {
    text-anchor: middle;
    font-size: 0.7em;
    font-family: sans-serif;
    fill: $label;
    opacity: 0.8;
}

.artery-path {
    fill: $gray;
    stroke: #fff;
    stroke-width: 1.2px;
}

.street-path {
    fill: none;
    stroke: $gray;
    stroke-width: 0.2px;
}

.freeway-path {
    stroke: $freeway;
    fill: none;
    stroke-width: 1px;
}

.route-path {
    fill: none;
    stroke-width: 0.2em;
    stroke-linejoin: round;
}

.circle-bus {
    stroke-width: 0.8px;
    opacity: 0.9;
}

.circle-busstop {
    stroke-width: 1px;
    opacity: 1;
}

/******
general 
*******/

.route label input {
    display: none;
}


div.tooltip {   
    position: absolute;     
    opacity: 0;    
    text-align: left;         
    min-width: 120px;
    min-height: 40px;                   
    padding: 5px;               
    font: 11px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;     

    &.bus {
        background: yellow; 
    }
      
}

/*************************************************
MAP VIEW
*************************************************/


path {
    stroke: steelblue;
    stroke-width: 0.3;
    fill: none;
}

svg text {
    font-family: $primaryFont;
    color: $primaryFontColor;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    height: 100%;
    vertical-align: top;
    overflow: hidden;
    background-color: $ocean;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#map-text {
    margin-top: 20px;
}

.form-inline {
    margin-bottom: 20px;
}

#popup-title {
    font-style: italic;
    font-weight: 200;
    font-family: $primaryFont;
}

#lesser-title {
    font-size: 17px;
    font-weight: 600;
}

#sub-title {
    font-style: italic;
}

#gen-button {
    border: 1px solid $darkGreen;
    background-color: transparent;
    color: $darkGreen;
    margin-top: 10px;
    margin-left: 10px;

    &:hover {
        border-color: $lightGreen;
        background-color: $lightGreen;
        color: white;
    }
}

#reset-button {
    border: 1px solid $darkRose;
    background-color: transparent;
    color: $darkRose;
    margin-top: 10px;

    &:hover {
        border-color: $lightRose;
        background-color: $lightRose;
        color: white;
    }
}
