

<div class="standard-text" id="about-view">

    <div class="row standard-text">
        <div class="col-sm-6 about-box">
            <div class="page-header">
                <h1>D3.js <small>Modern Data Visualization</small></h1>
            </div>

            <p>D3 has a number of impressive features that make it a top choice for visualizing data in the browser:</p>
            <ul>
                <li>Library written purely in Javascript</li>
                <li>Works with a wide variety of data sources including JSON, XML and CSV</li>
                <li>Built-in tools to display common shapes and graph types including line, bar, pie and scatter </li>
            </ul>
            <p>See the full D3.sj project <a href="https://www.d3js.org" target="_blank">here</a></p>
        </div>

        <div class="col-sm-6 about-box">
            <div class="page-header">
                <h1>App <small>MEAN Stack</small></h1>
            </div>

            <p>This app was developed entirely with Javascript. Here is some more information on the technology used:</p>
            <ul>
                <li>This is an Express 4 app running on a Node.js server</li>
                <li>AngularJS is the front end framework providing a single page application (SPA) for fast, seamless transitions between views</li>
                <li>Bootstrap and Sass for a clean, simple UI</li>
                <li>All U.S. GDP data is provided via the Quandl public API. Check it out <a href="https://www.quandl.com" target="_blank">here</a></li>
                <li>Data visualization courtesy of the D3.js team</li>
            </ul>
            <p>For more detailed information about the app, please see the source code on <a href="https://github.com/samuelwill/d3-js-demo" target="_blank">GitHub<a/>!</p>

        </div>
    </div>

</div>